[user]
	email = alghe.global@gmail.com
	name = Alexandru Gheorghe
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[core]
	editor = vim
[alias]
	ci = commit
	co = checkout
	br = branch
	st = status
	sl = stash list
	lg = log --pretty=format:'%Cblue%h %Creset%an (%ae) %Cred%cD %Cgreen%s%Creset' --date-order --graph
